@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab:700&display=swap');


.App{
  min-height: 100vh;
  margin-top: 30px;
}



.header{
  text-align: center;
  padding-top: 50px;
  color: #ff4f87;
  font-size: 3em;
  letter-spacing: 3px;
  margin-bottom: 0;
  font-weight: bolder;
  font-family: 'Roboto Slab', serif;
}



.about{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 30px;
  color: #ff4f87;
  font-size: 1em;
  letter-spacing: 3px;
  font-family: 'Roboto Slab', serif;
  word-wrap: break-word;
}

.search-form{
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
  border: 1px solid #ff4f87;
  border-radius: 5px;
}

.search-button{
  cursor: pointer;
  background: #ff4f87;
  padding: 10px 40px;
  margin-top: 0;
  border: none;
  color: white;
  margin-left: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.search-button:focus {
  outline: none;
}


.recipes{
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  flex-wrap: wrap;
}

input:focus {
  outline: none; 
}

input::placeholder {
  font-family: 'Raleway', sans-serif;
}


@media only screen and (max-width: 600px) {
  .search-button{
    font-size: 12px;
    margin-left: 10px;
  }
  .header {
    font-size: 2.1em;
  }
}
